* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

/* Section 1 */
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    padding: 3rem 5rem;
    background-image: url(assets/Image.png);
    background-color: rgba(47, 24, 147, 0.9);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;


}

.navbar {
    display: flex;
    gap: 2.75rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

.section1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.text1 {
    width: 60%;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    color: white;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: white;
}
img{
    width: 100%;
    object-fit: cover;
}
.button1 {
    background-color: #482BE7;
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 6.25rem;
}

/* Section 2 */
.section2 {
    background-image: url(assets/section2.png);
    background-color: #2F1893;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 5rem;
    height: 50vh;
}

.section2_1 {
    display: flex;
    flex-direction: column;
    gap: 1.82rem;
    align-items: center;
    text-align: center;
}

.section2_h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
}

.section2_h3 {
    font-style: normal;
    font-size: 0.88rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#section2_width {
    width: 70%;
}

.section2_p {
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    mix-blend-mode: normal;
    font-style: normal;
}

/*Section 3 */
.section3 {
    background-image: url(assets/Rectangle.png);
    background-color: #2F1893;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
    width: 100%;
}
.section3_img{
    margin-left: -30rem;
}

.section3_main {
    padding-left: 3rem;
    padding-right: 9rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.section3_main2 {
    display: flex;
}

.section3_title_h1 {
    line-height: 3.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.625rem;
    padding-bottom: 1rem;
}

.section3_title_p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2rem;
}

.section3_icon1 {
    padding-right: 2rem;
}

.section3_icon_h {
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.625rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section3_icon_p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

.section3_svg {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 3rem;
}

/*Section 4 */

.section4{
    
    background-image: url(assets/form_background.png);
    background-color: #2F1893;

    background-size: cover;
    padding: 5rem 10rem;
    display: flex;
    gap: 5rem;

}

.section4_left{
    flex: 1;
    padding: 7rem;
    
}

.section4_right{
    flex: 1;

}

.form_container{
    display: flex;

    flex-direction: column;
    gap: 3rem;
    background-color: white;
    border-radius: 2rem;
    padding: 0rem 0rem 5rem 0rem;
}
.input_conatiner{
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.input_conatiner>input{
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: 1px solid lightgray;
    outline: none;
    width: 80%;
}
.input_conatiner>button{
    padding: 1rem 2rem;
    border-radius: 5rem;
    outline: none;
    width: 80%;
    color: white;
    border: none;
}

.input_conatiner>:nth-child(3){
    background-color: #25DAC5;
}
.input_conatiner>:nth-child(5){
    background-color: #1DA1F2;
}
.cto_form{
    display: flex;
    width: 100%;
}

.cto_form>button{
    width: 50%;
    padding: 2rem;
    background-color: inherit;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgrey;
}

.cto_form>:nth-child(1){
    border-bottom: 2px solid black;

}

.form_line{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.form_line>div{
    width: 40%;
    border-bottom: 1px solid lightgray;
}
.navbar_mobile{
    display: none;
}
.navbar_mobile>a{
    display: none;
}
@media screen and (max-width: 950px) {
 

}

@media screen and (max-width: 650px) {
.navbar{
    display: none;
}
.navbar_mobile{
    display: flex;
    gap: 1rem;
}
.navbar_mobile>a{
    display: flex;
}
.section1 {
    padding: 3rem 2rem;
    height: auto;
   
}

.text1 {
    width: 100%;
}

.section2 {
    padding: 3rem 2rem;
    height: auto;

}

.section4 {
    padding: 3rem 2rem;
    gap: 2rem;
    flex-direction: column;
}

.section4_left {
    padding: 0rem;
}

.section3 {
    height: auto;
    flex-direction: column;
}
.section3_img {
    margin-left: 0rem;
    width: 70%;
}
.section3_img>img {
  object-fit: contain;
}
.section3_main {
  padding: 2rem;
    gap: 2rem;
}

.section3_svg {
    flex-direction: row;

}

}